<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@hongsuh">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Stock Ticker App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Stock Ticker Application</h2>
          <a href="/about">About</a>
          <br>
          <p> Input a stock ticker symbol below to obtain a graph showing the closing price of the stock for the past four months.
          </p>
          <form id='stock_ticker' method='post' action='/'>
                <p>
                  Symbol: <input type='text' name='symbol'/>
                </p>
                <input type="checkbox" id="open" name="open"/>
                <label for="open"> Opening price </label>
                <input type="checkbox" id="close" name="close"/>
                <label for="close"> Closing price </label><br>
                <input type="submit" value="Submit"/>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <p>
          {{ msg }}
        </p>
      </div>
      {{ plot | safe }}
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
